<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>No. KTP</th>
        <th>Create Date</th>
    </tr>
    </thead>
    <tbody>
    {{range .AllUserss}}
        <tr>
            <td>{{.User_id}}</td>
            <td>{{.Firstname}}</td>
            <td>{{.Lastname}}</td>
            <td>{{.No_ktp}}</td>
            <td>{{.Created_at}}</td>
        </tr>
    {{end}}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>